#dataabsensi,
#datakelassaya,
#datakurikulum,
#datanilaimapel,
#datapembelajaran,
#divsuratsurat, 
#divgaleri {
  display: none
}

#mainAnjangsana,
#mainmenulamaso,
#wasiswa {
  display: none
}

#lamanprofil {
  display: none
}

#previewhp {
  padding: 5px;
  width: 100%;
  margin: 0;
  height: 450px;
  overflow: auto
}

.tempatsintak {
  border: 1px solid red;
  background-color: #eeefff;
  padding: 5px;
  border-radius: 5px
}

/* 
input[type=radio]+label.opsi {
  color: #000;
  cursor: pointer
}

input[type=radio]:checked+label.opsi::before {
  content: " \2705"
}

input[type=radio]:checked+label.opsi {
  color: #00f;
  background-color: #ff0
}  */
input.calc{
  display:none;
}
input[class=calc]+label.opsi {
  color: #000;
  cursor: pointer
}

input[class=calc]:checked+label.opsi::before {
  content: " \2705"
}

input[class=calc]:checked+label.opsi {
  color: #00f;
  background-color: #ff0
}

.modal input[name=contoh1]+label.opsik {
  color: #000;
  cursor: pointer
}

.modal input[name=contoh1]:checked+label.opsik::before {
  content: " \2705"
}

.modal input[name=contoh1]:checked+label.opsik {
  color: #00f;
  background-color: #ff0
}

label.asem {
  border: 1px solid #adacac;
  background-color: #eeefff;
  padding: 5px;
  width: 200px;
  cursor: pointer;
  border-radius: 5px;
  color: #00f
}

label.asem::before {
  content: url(https://3.bp.blogspot.com/-6O-y9t8ZdMw/Xnzcbx-RVnI/AAAAAAAAPT4/aS_hpQNKPoAVLJk4BjpE8Zd3s8zEVI2wACLcBGAsYHQ/s1600/kamerakecil.png)
}

label.asem::after {
  content: " Unggah Poto"
}

img.gambarlamaso3 {
  max-width: 90%
}

#KodeMatematika,
#KodeMatematika2 {
  display: inline-block;
  text-align: left;
  line-height: normal;
  font-family: Arial, Helvetica, sans-serif
}

#KodeMatematika {
  font-size: 14px
}

.tempatstatus {
  background-color: #dadada;
  border-radius: 37px 5px 5px 5px;
  border: 1px solid #dadada;
  margin: 12px auto
}

#avatarlogin {
  float: left;
  position: relative;
  overflow: auto
}

.avatarlogin {
  float: left;
  position: relative;
  overflow: auto
}

.tombolkirimstatus {
  background-color: #aaf5c9;
  border: 1px solid #7878b9;
  border-radius: 15px
}

.tempatidentitasx {
  margin: 2px 0 0 65px;
  border: 1px solid #fde4e4;
  background-color: #fde4e4;
  border-radius: 15px;
  padding: 5px;
  line-height: normal
}

.tempatpengomentarnya {
  margin: 2px 0 0 65px;
  border: 1px solid #e6e8e9;
  background-color: #e9e6e6;
  border-radius: 15px;
  padding: 5px;
  line-height: normal
}

.tempatidentitas {
  margin: -25px 0 0 65px;
  border: 1px solid #fde4e4;
  background-color: #fde4e4;
  border-radius: 15px;
  padding: 5px;
  line-height: normal
}

#recordstatus {
  border-top: 3px dotted #6495ed;
  margin-top: 10px
}

#asalsekolah {
  font-size: 12px
}

.tab {
  overflow: hidden;
  border: .5pt solid #ccc;
  
  background-color: rgb(72, 91, 100)
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: outset;
  cursor: pointer;
  color:white;
  /* padding: 7px 8px; */
  padding: 3px 4px;
  margin:3px 3px;
  border-radius: 50px;
  /* batas */
  transition: .3s;
}

.tab button:hover {
  background-color: #ddd;
  color:red;
}

.tab button.active {
  background-color: rgb(14, 243, 117);
  color: black;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #e6aeae;
  border-top: none;
  background-color: rgba(191, 250, 235, 0.514);
}

.tabawal {
  display: block
}

.versii-table {
  width: 950px;
  max-width: 100%;
  border-collapse: collapse;

}

.versi-table {
  width: auto;
  max-width: 100%;
  border-collapse: collapse;
}

.versi-table td,
.versi-table th,
.versi-table tr,
.versii-table td,
.versii-table th,
.versii-table tr {
  border: 1px solid #000;
  color: #000;
  padding: 5px 10px 5px 10px
}

.versi-table th,
.versii-table th {
  background-color: #eee;
  color: #00f;
  vertical-align: middle;
  text-align: center
}

.versi-table tr:nth-of-type(even) td,
.versii-table tr:nth-of-type(even) td {
  border: 0;
  background-color: #fff;
  border: 1px solid #000
}

.versi-table tr:nth-of-type(odd) td,
.versii-table tr:nth-of-type(odd) td {
  border: 0;
  background-color: #eef;
  border: 1px solid #000
}



.modifgaris td,
.modifgaris th,
.modifgaris tr {
  border: 1px solid #00f
}

.modifgaris th {
  border: 1px solid #00f;
  text-align: center;
  vertical-align: middle
}

.garis td,
.garis th,
.garis tr {
  border: 1px solid #000
}

.garis th {
  border: 1px solid #000;
  text-align: center;
  vertical-align: middle
}

.containerbaru {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%
}

.responsive-iframebaru {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%
}

#datakehadiranguru {
  display: none
}

#dataraport,
#dataakreditasi,
#dataframekreatif,
#dataframeeditor,
#divdatasiswa {
  display: none
}

.kontentabbutir {
  display: none;
  padding: 6px 12px;
  border: 1px solid #e6aeae;
  border-top: none
}

.tab button.activee {
  background-color: greenyellow
}

.tabcontent button.activee {
  background-color: greenyellow
}

.accordkonten {
  display: none
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 24px;
}

.slider.round:before {
  border-radius: 50%;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(253, 0, 0);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(1, 124, 11);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #29f300;
}



.tangan {
  cursor: pointer !important;
}

#prev_dragable {
  position: absolute;
  z-index: 3;
  background-color: #f1f1f1;
  border: 1px solid #d3d3d3;
  padding: 5px;
}

#prev_dragableheader {
  padding: 10px;
  cursor: move;
  z-index: 4;
  background-color: #2196F3;
  color: #fff;
  text-align: center;
}

.up_gam_mat {
  width: 180px;
  height: 150px;
  object-fit: fill;
  cursor: pointer;
}

.tahankiripertama tr td:first-child {
  position: sticky;
  position: -webkit-sticky;
  left: 0;
  z-index: 0
}

.w3-lobster {
  font-family: "Lobster", serif;
}
.tabelbiasa, .tabelbiasa td,.tabelbiasa th{
  border: 1px solid rgb(0, 0, 0);
  padding:5px
}
.tabelbiasa th{
background-color:rgb(177, 177, 177)
}
.tabelbiasaputih th{
background-color:#fff !important;
}

.tabelbiasa  {
width:100%;
  border-collapse: collapse;
}
.isigaleri {
  position: relative;
  width: 100%
}

.isigaleri img,.isigaleri iframe {
  display: block;
  width: 100%;
  height: 270px;
  object-fit: scale-down;

}

.overlaygaleri {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #00000080;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
  color:white;
  
}
.overlaygaleri button{
  cursor:pointer;
}
.overlaygaleri button:hover{
  background-color: #29f300;
}
.isigaleri:hover .overlaygaleri {
  height: 100%;font-size: 12px;
}

.textgaleri {
  color: white;
  position: absolute;
  bottom:15px;
  left:50%;
  width:99%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
#idmateri{width:100%}
.flag {
  /* width: 110px; */
  /* auto; */
  /* width: auto; */
  /* margin:0 1px; */
  height: 76px;
  box-sizing: content-box;
  padding-top: 15px;
  /* padding: 5px 15px; */
  position: relative;
  /* background: rgb(0, 247, 255); */
  color: white;
  font-size: 11px;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  border:0
}
.flag:after{
  content: "";
  position:absolute;
  bottom:-2px;
  right:0;
  width: 20%;;
  border-bottom: 35px solid #fdf5e6;
  /* border-right: 30px solid transparent; */
  border-left: 100px solid transparent;
  
}
.flag:before{
  content: "";
  position:absolute;
  bottom:-2px;
  left:0;
  width: 20%;
  border-bottom: 35px solid #fdf5e6;
  
  /* border-left: 30px solid transparent; */
  border-right: 100px solid transparent;
}


.btn_edt {
  border:.5pt dotted transparent;
  padding:2px;
  margin:5px 2px;
  cursor: pointer;
 
}
.active {
  background-color: #29f300;
}
/* versi lain lagi! */
div.q {
  position: relative;
  float: left;
  height: 2em;
  padding: 0.75em 0 0.75em 0;
}
div.frac {
  margin: 0 5px;
  display: inline-block;
  text-align: center;
  /* float: left; */
}
div.numer {
  border-bottom: 1px solid black;
}
div.denom {
  border-top: 1px solid black;
}

.isiadm {display:none}
#tooltiptabel{
  height: 230px;
  width: 150px;
  font-size: 8px;
}
#tooltipkdmapel{
  height: auto;
  width: 350px;
}
#tooltipkd1{
  height: 250px;
  width: 350px;
}
#tooltipkd1 .badge_kd, #tooltipkdmapel .badge_mapel,#tooltipMuatanMapelTematik .rppbadge_kd{
  margin:3px;
  padding:3px;
  cursor:pointer;
}
#tooltiptabelall {
  height: 250px;
  width: 350px;
  font-size: 10px;
}
#tooltiptabel, #tooltiptabelall, #tooltipkd1,#tooltipkdmapel,#tooltipkaldik0, #tooltipkaldik1, 
#tooltipkaldik2, #tooltipkaldik3, #tooltipkaldik4, #tooltipHBE,#tooltipkalendernontematik, #tooltipMuatanMapelTematik,#tooltipketikanrpp,
#tooltipkaldik5{
  position: absolute;
  display: none;
  border:1px solid black;
  padding: 2px;
  color:rgb(255, 255, 255);
  background-color: rgb(75, 75, 75);
  z-index: 2;
}
.tooltiparahkiri{
  content: "";
  position:absolute;
  
  /* position tooltip correctly */
  left:0;
  margin-left:-20px;
 
  /* vertically center */
  top:10px;
  transform:translateY(-50%);
 
  /* the arrow */
  width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-right: 20px solid red;
      border-bottom: 10px solid transparent;
  
  display:block;
}
.tooltiparahatas{
  content: "";
  position:absolute;
  
  /* position tooltip correctly */
  /* left:0;
  margin-left:-20px; */
  margin-left: 0;
 
  /* vertically center */
  top:-10px;
  transform:translateY(-50%);
 
  /* the arrow */
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid red;
  
  display:block;
}
.tooltiparahatast{
  content: "";
  position:absolute;
  
  /* position tooltip correctly */
  /* left:0;
  margin-left:-20px; */
  /* margin-left: 0; */
  left : 200px;
 
  /* vertically center */
  top:-10px;
  transform:translateY(-50%);
 
  /* the arrow */
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid black;
  
  display:block;
}
.tooltiparahkanan{
  content: "";
  position:absolute;
  
  /* position tooltip correctly */
  right:0;
  margin-right:-20px;
 
  /* vertically center */
  top:10px;
  transform:translateY(-50%);
 
  /* the arrow */
  /* border:10px solid rgb(255, 0, 0);
  border-color:transparent transparent red transparent ; */
  width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-left: 20px solid red;
      border-bottom: 10px solid transparent;
  
  display:block;
}
#tooltiptabel:after, #tooltiptabelall:after, #tooltipkd1:after, #tooltipMuatanMapelTematik:after,#tooltipkalendernontematik:after{
  content: "";
  position:absolute;
  
  /* position tooltip correctly */
  left:0;
  margin-left:-20px;
 
  /* vertically center */
  top:10px;
  transform:translateY(-50%);
 
  /* the arrow */
  border:10px solid #000;
  border-color: transparent black transparent transparent;
  
  display:block;
}
#tooltiptabelheader,#tooltipkdmapelheader,
#tooltipkaldikheader0,
#tooltipkaldikheader1,
#tooltipkaldikheader2,
#tooltipkaldikheader3,
#tooltipkaldikheader4, #tooltipHBEheader, #tooltipMuatanMapelTematikheader, #tooltipketikanrppheader,#keyboard_ketikanheader,
#tooltipkaldikheader5,#tooltipkalendernontematikheader
{
  cursor:move;
}
#tooltipkdmapelheader{
  padding:0px 0 15px;
  text-align: center;
}
div#tooltipkd1header {
  cursor: move;
}
.kirimtooltipeditor, .kirimtooltipjam{
  background-color: #6495ed;
}
/* #tooltiptabel:hover:before, #tooltiptabel:hover:after {
  display:block;
} */
#tooltipHBE{
  width: 200px;
}

#tooltipkaldik0,#tooltipkaldik1,#tooltipkaldik2,#tooltipkaldik3,#tooltipkaldik4, #tooltipMuatanMapelTematik,
#tooltipkaldik5,#tooltipkalendernontematik{
  width: 350px;
}
#tooltipketikanrpp{
  width:530px;
  
}
.tooltiparahkiri0,.tooltiparahkiri1,.tooltiparahkiri2,.tooltiparahkiri3,.tooltiparahkiri4,
.tooltiparahkiri5{
  content: "";
  position:absolute;
  
  /* position tooltip correctly */
  left:0;
  margin-left:-20px;
 
  /* vertically center */
  top:10px;
  transform:translateY(-50%);
 
  /* the arrow */
  width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-right: 20px solid rgb(0, 0, 0);
      border-bottom: 10px solid transparent;
  
  display:block;
}
.tooltiparahkanan0,.tooltiparahkanan1,.tooltiparahkanan2,.tooltiparahkanan3,.tooltiparahkanan4,
.tooltiparahkanan5{
  content: "";
  position:absolute;
  
  /* position tooltip correctly */
  right:0;
  margin-right:-20px;
 
  /* vertically center */
  top:10px;
  transform:translateY(-50%);
 
  /* the arrow */
  /* border:10px solid rgb(255, 0, 0);
  border-color:transparent transparent red transparent ; */
  width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-left: 20px solid rgb(0, 0, 0);
      border-bottom: 10px solid transparent;
  
  display:block;
}
#tooltipHBE:after{
  content: "";
  position:absolute;
  
  /* position tooltip correctly */
  /* left:0;
  margin-left:-20px; */
  margin: auto 30%;
 
  /* vertically center */
  top:-11px;
  transform:translateY(-50%);
 
  /* the arrow */
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid rgb(71, 71, 71);
  
  display:block;
}
/* cobates */

input.inprpp{
  display:none;
}
input[class=inprpp]+label.lblinrpp {
  color: #000;
  cursor: pointer
}

input[class=inprpp]:checked+label.lblinrpp::before {
  content: " \2705"
}

input[class=inprpp]:checked+label.lblinrpp {
  color: #00f;
  background-color: #ff0
}
input.rad_custom {
  width:20px;height:20px;position:relative;top:5px;
}
label.labrad_custom{
  font-size: 14px;
  cursor: pointer;
}

.tabelsppd{
  border-collapse: collapse; 
}
.tabelsppd tr{
  border-left:0;
  border-right:0;
}
.tabelsppd tr:first-child{
  border-top:5px double black;
}
.tabelsppd tr:last-child{
  border-bottom:.5pt solid black;
}
.tabelsppd td{
  border-top:.5pt solid black;
  padding:5px 15px;
  vertical-align: top;
  text-align: top;
}
.tabelsppd td > ol {
  margin-top:-3px;
  margin-left: -20px;
}
.tabelsppd td:nth-child(2){
  border-right:.5pt solid black
}
.garis table td {
  border:0;
  border-collapse: collapse;
  line-height: 5px;
  
}
.prevsppd_isiresume>p{
  text-decoration-line: underline;
  text-decoration-thickness: .5pt;
  line-clamp:5px;
  /* border-top:.5pt solid gainsboro; */
}
#keyboard_ketikan{
  max-width: 1000px;
  position: absolute;
  display: none;
  border:1px solid black;
  padding: 2px;
  color:rgb(255, 255, 255);
  background-color: rgb(75, 75, 75);
  z-index: 9995;
 
}
.visibel {
  visibility: hidden;
  height: 25px;
  border-bottom:.5pt solid rgb(206, 206, 206)
}
.garisbuku {
    -webkit-text-decoration-line: underline; /* Safari */
    text-decoration-line: underline; 
    text-decoration-color: rgb(206, 206, 206);
    text-decoration-thickness: .5pt;
    text-underline-offset:5px;
    line-height:1.5;
    border-bottom:.5pt solid rgb(206, 206, 206);
    text-align:justify;
}
.bgsekolah {
  /* background: url('/img/sdnratujaya1-transparent.png') repeat-y; */
  background-color: white;
  background-image: url('/img/sdnratujaya1-transparent2.png');
  background-position: center top;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-attachment: scroll;
  background-size: 400px 400px;
  
  
  

}
.canvas_ljk,.patokan_PG{  /*, .tabel_deteksiwarna {*/
  /* position: absolute !important; */
  width:350px;
  height: 550px;
  border:1px solid black;
    /* width: 100% ;
    height: auto ; */
}

.patokan_PG{
  position: absolute;
  padding:0 2px;
}
.patokan_tabelPG{
  width: 90%;
  margin:0 auto;
  border-collapse: collapse;
}
.patokan_tabelPG th{
  background-color: #5e5e5f;
  color: white;
}
.patokan_tabelPG tr, .patokan_tabelPG th, .patokan_tabelPG td{
  font-size: 10px;
  border: 1px solid rgb(255, 0, 0);
  padding:4px;
  color: rgb(6, 14, 246);
  
  /* height: 550px; */
}
.patokan_tabelPG td{
  background-color: white;
}
.patokan_tabelPG td:nth-child(1){
  width: 25px;
}
/* #tampilankameraLJK{
  
  object-fit: cover;
 } */
/* #tampilankameraLJK{
  position: absolute;

  width: 350px;
  height: 550px;
  margin-top: 0;
  object-fit: cover;

  z-index: 4;
} */
.tabel_deteksiwarna,.scn_tabeljawabansiswa{
  width:350px;
  position: relative;
  margin:0 auto;
  display: block;
  font-size: 10px;
  
}

.patokan_tabelformatljk{
  
  margin:0 auto;
  /* border-collapse: collapse; */
}
.patokan_tabelformatljk th{
  background-color: green;
  color: white;
}
.patokan_tabelformatljk tr, .patokan_tabelformatljk th, .patokan_tabelformatljk td{
  font-size: 10px;
  /* border: 1px solid red;   */
  padding:4px;
  /* color: green; */
  box-sizing: border-box;
  
  /* height: 550px; */
}
/* .patokan_tabelformatljk td{
  background-color: white;
} */
.patokan_tabelformatljk td:nth-child(1){
  width: 25px;
  border: .5pt solid green;  
}
.patokan_tabelformatljk tr:nth-of-type(odd) td{
  background-color: white;
}
.patokan_tabelformatljk tr:nth-of-type(even) td{
  background-color: rgb(199, 250, 199);
}
